.staff .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.staff .box-container .box {
    text-align: center;
    background: #fff;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    transition: all 0.3s ease;
}

.staff .box-container .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
}

.staff .box-container .box img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.staff .box-container .box:hover img {
    transform: scale(1.05);
}

.staff .box-container .box h3 {
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.staff .box-container .box span {
    color: var(--green);
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
}

.staff .box-container .box .share {
    padding-top: 1rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.staff .box-container .box .share h4 {
    font-size: 1.2rem;
    color: var(--light-color);
    font-weight: 400;
    margin: 0.5rem 0;
    text-transform: none;
}

.staff .box-container .box .share a:hover {
    background: var(--green);
    color: #fff;
    box-shadow: var(--box-shadow);
}